<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col1">#</th>
    <th class="col1">Nombre</th>
    <th class="col1">Tipo</th>
    <th class="col1">Region</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cafeList">
      <td>
        <dd>{{c.id}}</dd>
      </td>
      <td>
        <dd>{{c.nombre}}</dd>
      </td>
      <td>
        <dd>{{c.tipo}}</dd>
      </td>
      <td>
        <dd>{{c.region}}</dd>
      </td>
    </tr>
  </tbody>
</table>

<tbody>
<tr *ngFor="let c of cafeTypes">
  <td>
    <dd>Total {{c[0]}} : </dd>
  </td>
  <td>
    <dd>{{c[1]}}</dd>
  </td>
</tr>
</tbody>




